<footer class="footer" style="background-color: #424242; text-align: center; color: white; font-size: 21px; height: 50px;;line-height: 50px; position: absolute; top: 100%; width: 100%;">
    copyright &copy; by storybooks.com
</footer>
<script src="/js/main.js"></script>
</body>
</html>