<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="paddingleftright" style="margin-top: 50px;">
        <h1>server Down!!</h1>
        <p style="margin-top: 30px;">Will Fix As Soon As We Can!!!</p>
    </main>
    <%- include('includes/footer.ejs') %>